 {
  margin: 5px;
  padding:  0cqh; }

.navbar {
 backgroundcolor: palewhite;
 padding: 5px;
 text-align: 8px;
}
.navbar a {
 margin: 0 15px;
 text-decoration: none;
 color: black
 font-weight: bold;
}
.navbar a:hover {
 color: darkblue;
}
.container {
 display: grid;
 grid-template-columns: 3fr 1fr;
 gap: 20px;
}
body.home {
  background-image: url("https://images.unsplash.com/photo-1660644807804-ffacfd7a4137?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.threats {
  background-color: powderblue! important;
}
body.tools {
  background-color: powderblue! important;
}
body.tips {
  background-color: lightblue;
}
.class {
 text-color: darkblue;
}
/* Simple hover transition */
a {
    color: blue;
    transition: 0.3s;
}

a:hover {
    color: red;
}

/* Simple animation */
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    animation: fade 3s;
}
