 {
  margin: 5px;
  padding:  0cqh; }

.navbar {
 backgroundcolor: palewhite;
 padding: 5px;
 text-align: 8px;
}
.navbar a {
 margin: 0 15px;
 text-decoration: none;
 color: black
 font-weight: bold;
}
.navbar a:hover {
 color: darkblue;
}
body.home {
  background-image: url("https://www.istockphoto.com/photo/digital-security-concept-digital-shield-firewall-with-central-computer-processor-and-gm2180548732-599640380?utm_source=unsplash&utm_medium=affiliate&utm_campaign=srp_photos_bottom&utm_content=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fcyber
   -security&utm_term=cyber+security%3A%3Awallpapers-no-affiliates%3Acontrol%3A8a1d5b97-ae71-4187-ac43-ad957c2b09b6");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.threats {
  background-color: powderblue! important;
}
body.tools {
  background-color: powderblue! important;
}
body.tips {
  background-color: lightblue;
}
