 {
  margin: 5px;
  padding:  0cqh; }

.navbar {
 backgroundcolor: darkblue;
 padding: 10px;
 text-align: 8px;
}
.navbar a {
 margin: 0 15px;
 text-decoration: white;
 color: black
 font-weight: bold;
}
.home {
  background-color: lightblue;
}
.threats {
 backgroung-color:  lightblue;
}
.tools{
 backgroung-color:  lightblue;
}
.tips {
 background-color:  lightblue;
}
