 {
  margin: 5px;
  padding:  0cqh; }

.navbar {
 backgroundcolor: lightgray;
 padding: 12px;
 text-align: center;
}
.navbar a {
 margin: 0 15px;
 text-decoration: none;
 color: black
 font-weight: bold;
}
.home {
  background-color: lightblue;
}
.threats {
 backgroung-color:  lightblue;
}
.tools{
 backgroung-color:  lightblue;
}
.tips {
 background-color:  lightblue;
}
