 {
  margin: 5px;
  padding:  0cqh; }

.navbar {
 backgroundcolor: palewhite;
 padding: 5px;
 text-align: 8px;
}
.navbar a {
 margin: 0 15px;
 text-decoration: none;
 color: black
 font-weight: bold;
}
.navbar a:hover {
 color: darkblue;
}
body.home {
  background-image: url("Screenshot_20260219_110609_Chrome.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.threats {
  background-color: powderblue! important;
}
body.tools {
  background-color: powderblue! important;
}
body.tips {
  background-color: lightblue;
}
