 {
  margin: 5px;
  padding:  0cqh; }

.navbar {
 backgroundcolor: lightgray
 padding 15px;
 width: 200px;
}
.navbar a{
 display: block;
 margin: 8px 0;
 text-decoration: none;
 color: black
 font-weight: bold;
}
.home {
  background-color: lightblue;
}
.threats {
 backgroung-color:  lightblue;
}
.tools{
 backgroung-color:  lightblue;
}
.tips {
 background-color:  lightblue;
}
