 {
  margin: 5px;
  padding:  0cqh; }
.home {
  background-color: lightblue;
}
.threats {
 backgroung-color:  lightblue;
}
.tools{
 backgroung-color:  lightblue;
}
.tips {
 background-color:  lightblue;
}
