 {
  margin: 5px;
  padding:  0cqh; }

.navbar {
 backgroundcolor: palewhite;
 padding: 5px;
 text-align: 8px;
}
.navbar a {
 margin: 0 15px;
 text-decoration: none;
 color: black
 font-weight: bold;
}
.navbar a:hover {
 color: darkblue;
}
body.home {
  background-color: lightgrey;
}
body.threats {
 backgroung-color: lightcoral;
}
body.tools {
 backgroung-color: lightgreen;
}
body.tips {
 background-color: lightblue;
}
